@use '@/styles/vars' as *;

.adminPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .links {
    margin-top: $gap-3xl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $gap-medium;
    width: fit-content;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $gap-small;
    }
  }
}

.adminNav {
  display: flex;
  gap: $gap-medium;
  position: fixed;
  top: 24px;
  left: 24px;
}

.settingsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: $gap-3xl;
  .buttons {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
    button {
      border: 1px solid $border-color;
      padding: $gap-small $gap-medium;
      border-radius: 16px;
      &:hover {
        background: red;
        color: white;
      }
    }
  }
}
